table,
tr,
th,
td {
    /* margin: auto; */
    /* border: 1px solid black; */
    text-align: center;
    background-color: #D0F5A9;
}

table {
    max-width: 100%;
    width: 80%;
    min-width: 400px;
}

h2,
h3 {
    margin-bottom: 0.3em;
}